.container {
    width: 80%;
    height: 90vh;
    background-color: rgb(15, 64, 129);
    margin: auto;
    text-align: center;
    padding-left: 40px;
    padding-top: 20px;
}

/* .container div {
    text-align: center;
   
} */
.container h2 {
    color: white;
    
}

.container form {
    margin: auto;
    margin-top: 30px;
}


.container input {
    width: 50%;
    height: 25px;
    border-radius: 5px;
}

#mail1 {
    width: 30%;
    height: 25px;
    border-radius: 5px;

}

#tr {
    color: white;
    margin-top: 20px;
    font-weight: bold;
}